body {
  padding-top: 50px;
}

a {
  text-decoration: none;
}

div,
p {
  font-family: Roboto, Arial;
}

#header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 251, 226);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
}

#profile_figure {
  background-color: none;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 5px;
}

.profile-icon {
  width: 100%;
}

.header-paragraph {
  color: #3b5998;
}

#facebook_figure {
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.facebook-logo-text {
  background-color: none;
  display: block;
  width: 120px;
}

#fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#username,
#userpassword {
  display: block;
  background-color: rgb(245, 246, 247);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 325px;
  margin-bottom: 15px;
}

#username:placeholder,
#userpassword:placeholder {
  color: gray;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.login-button {
  background-color: rgb(24, 120, 243);
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 350px;
  border-radius: 6px;
  border: none;
  transition: opacity 0.15s, box-shadow 0.15s;
}

.login-button:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.login-button:active {
  opacity: 0.6;
}

.forgot-password {
  font-size: 14px;
  color: rgb(39, 115, 220);
  letter-spacing: 1px;
  transition: color 0.15s, font-size 0.5s;
}

#or-option-flex {
  display: flex;
  margin-bottom: 15px;
}

.horizontal-line {
  /* margin: auto;
  equal margin left and  right*/
  margin: auto;
  color: rgb(127, 127, 127);
  width: 200px;
}

.or-option {
  margin: 0px 20px;
  color: rgb(100, 100, 100);
}

.horizontal-line-two {
  margin: auto;
  color: rgb(127, 127, 127);
  width: 200px;
}

.create-account-button {
  background-color: white;
  font-weight: bold;
  padding: 8px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid rgb(127, 127, 127);
  margin-bottom: 20px;
}

.create-account-button:hover {
  background-color: rgb(134, 223, 129);
}
